$bg-secondary-inverse: #17181e;
$bg-secondary: #F5F7FA;
$bg-primary: #ffffff;
$bg-primary-inverse: #0c0e12;
$text-primary-inverse: #17181e;
$bg-accent: #ffb11a;
$bg-accent-hover:#FFC35C;
$bg-accent-subdued: rgba(255, 177, 26, 0.15);
$text-accent: #ffb11a;
$text-primary: #ffffff;
$text-secondary: rgba(255, 255, 255, 0.4);
$text-secondary-inverse: rgba(12, 14, 18, 0.4);
$bg-accent-linear: linear-gradient(#FFFFFF 100%, #FFE8C0 100%, #FFFFFF 100%);
