

@font-face {
  font-family: 'IBMPlexSans Condensed';
  src: url('../fonts/IBMPlexSans-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'IBMPlexSans Condensed';
  src: url('../fonts/IBMPlexSans-SemiBold.ttf') format('truetype');
  font-weight: 500;
}



body {
  font-family: 'IBMPlexSans Condensed', sans-serif;
  margin: 0;
  height: 100%;
  width: 100%;
  h1, h2, h3, h4, p{
    margin: 0;
  }
  &*{
    box-sizing: border-box;
  }
}
