@import "variables.scss";

.welcome-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: $bg-primary-inverse;
  color: $text-primary;
  overflow: hidden;
  .welcome-container {
    display: flex;
    max-width: 1156px;
    width: 100%;
    padding: 60px 25px 60px 25px;
    gap: 40px;
    .welcome-text-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 16px;
      h2, p{
        max-width: 500px;
      }
      h2{
        font-size: 48px;
        line-height: 56px;
        font-weight: 600;
      }
      p {
        color: $text-secondary;
        font-size: 20px;
        line-height: 28px;
        font-weight: 500;

      }
      .welcome-badge{
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 155px;
        margin-bottom: 4px;
        padding: 6px 8px;
        border-radius: 20px;
        background-color: $bg-accent-subdued;
        span{
            color: $text-accent;
            font-size: 18px;
            line-height: 24px;
            font-weight: 500;
        }
      }
    }
    .welcome-steps {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 12px;
      .welcome-step{
        display: flex;
        flex-direction: column;
        max-width: 568px;
        border-radius: 12px;
        gap: 8px;
        padding: 24px;
        background: rgba($color: $bg-secondary, $alpha: 0.03);
        h3{
            font-weight: 600;
            font-size: 24px;
            line-height: 32px;
        }
        p{
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            color: $text-secondary;
        }
      }
    }
  }
}

@media screen and (min-width: 0) and (max-width: 630px) {
  .welcome-section{
    .welcome-container{
      flex-direction: column;
    }
  }
}
@media screen and (min-width: 0px) and (max-width: 490px) {
  .welcome-section{
    .welcome-container{
      .welcome-text-container{
        .welcome-badge{
          span{
            font-size: 16px;
            line-height: 24px;
          }
        }
        h2{
          font-size: 32px;
          line-height: 40px;
        }
        p{
          font-size: 18px;
          line-height: 24px;
        }
      }
    }
  }
}
